Django==1.4.5
Pillow==2.0.0
South==0.7.6
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.17
celery==3.0.11
distribute==0.6.24
dj-database-url==0.2.1
django-celery==3.0.10
kombu==2.4.7
psycopg2==2.4.5
python-dateutil==1.5
pytz==2012f
wsgiref==0.1.2
django-registration==0.8
django-storages==1.1.7
boto==2.8.0
django-crispy-forms==1.2.3
gunicorn==0.17.2
django-registration-email==0.5
django-typogrify==1.3
bleach==1.2.1