{% load url from future %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Victory Boogie Woogie</title>
	
	<meta name="description" content="Victory Boogie Woogie is een experimentele literaire game.">
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}webfonts/ss-standard.css">
	
	<script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
	
	<script type="text/javascript" src="//use.typekit.net/nhp4ozy.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
	
<body>
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->


<!-- LOGIN -->
<div id="login" class="container">
		
	<div class="row">
		<div id="signin">
			<div class="stripes"></div>
			<div class="logo">
				<a href="{% url 'index' %}" title="Home">
				<img src="{{ STATIC_URL }}img/logo-vbw-dot.png">
					<h1>Victory Boogie Woogie</h1>
				<img src="{{ STATIC_URL }}img/logo-vbw-dot.png">
				</a>
			</div>
			
			<h2 class="text-center">Inloggen</h2>
			
			<form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
				{% csrf_token %}
				
				{{ form }}
				
				<input type="submit" value="inloggen" class="btn btn-large">
				<input type="hidden" name="next" value="{{ next }}">
			</form>
			
			<p class="newpassword text-center"><a href="{% url 'password_reset' %}">Wachtwoord vergeten?</a></p>
			
		</div>
	</div>
	
</div>
<!-- END LOGIN -->

<!-- JAVASCRIPT -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/main.min.js"></script>

<!-- GOOGLE ANALYTICS -->
<script>
	var _gaq=[['_setAccount','UA-38252406-1'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>