{% extends "base.html" %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block pagetitle %}Aanmelden{% endblock pagetitle %}

{% block content %}
<div class="row">
	{% if not game.over %}
		<div class="span6 offset3">
			<h2 class="text-center">Aanmelden</h2>
			{% if current_player %}
				<p class="lead">Je kunt je niet aanmelden als je al bent ingelogd.</p>
			{% else %}
				<p class="lead">Meld je aan om mee te kunnen spelen.</p>
				<hr>
				{% crispy form %}
			{% endif %}
			</div>
	{% else %}
		<div class="span8 offset2">
			<h2 class="text-center">De game is voorbij</h2>
			<p class="lead">Je kunt je helaas niet meer aanmelden. <a href="{% url 'post_game' %}">Lees hier de terugblik</a>.</p>
		</div>
	{% endif %}
</div>
{% endblock content %}