//
// Custom
// --------------------------------------------------

body {
	background-color: @white;
	background-image: url(../img/bg-paper.png);
	background-size: 120px 120px;
	background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
	color: @black;
}

h2 {
	font-family: @headFontFamily;
	text-transform: uppercase;
	line-height: 1.2em;
	margin: 0.5em 0 0.75em;
	padding: 0;
	.sub-top {
		margin-top: -0.5em;
		margin-bottom: -0.5em;
		font-size: 0.6em;
		display: block;
	}
	.sub-bottom {
		margin-top: -0.5em;
		font-size: 0.6em;
		display: block;
	}
}

h3 {
	font-family: @headFontFamily;
	text-transform: uppercase;
	line-height: 1.2em;
	margin: 2em 0 0.5em;
	padding: 0;
}

h2.sans, h3.sans, h4.sans, h5.sans, h6.sans {
	font-family: @headFontFamily;
	text-transform: uppercase;
}

.asteriskField {
	display: none;
}

.badge, .label {
	font-family: @sansFontFamily;
	font-size: @fontSizeMini;
	padding: 3px 4px 4px;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.progress .bar {
	background-color: @yellow;
}

.tooltip {
	font-family: @sansFontFamily;
	font-size: @fontSizeMini;
	text-shadow: none;
	padding: 0;
	.tooltip-inner {
		max-width: 400px;
		padding: 4px 10px;
	}
}

// !CHROMEFRAME
#chromeframe {
	margin: 0;
	background: @grayLight;
	color: @black;
	padding: 0.2em 0;
	text-align: center;
	background-color: @yellow;
}

// !HEADER
#header {
	background-color: @white;
	.box-shadow(0 2px 6px rgba(0,0,0,.3));
	a {
		color: @gray;
		text-shadow: none;
		text-decoration: none;
	}
	a:hover {
		color: @grayDark;
	}
	a:active {
		color: @black;
	}
	a.disabled {
		color: lighten(@grayLight, 10%);
	}
	.btn {
		color: @grayDark;
		text-shadow: 0px 1px 0px fade(@white, 60%);
	}
	li {
		position: relative;
	}
	.badge {
		position: absolute;
		top: 0;
		right: 5px;
		font-family: @sansFontFamily;
		font-size: @fontSizeMini;
		background-color: @blueDark;
		padding: 2px 6px;
		margin: 0;
		.box-shadow( 0 1px 1px rgba(0,0,0,.2));
	}
	.badge-empty {
		background-color: @grayLight;
	}
	.stripes {
		height: 5px;
		background-image: url(../img/bg-header-stripes.png);
		background-size: 400px 5px;
		background-repeat: repeat-x;
	}
	.container {
		padding: 0.5em 0 0.5em 0;
	}
}

// !MASTHEAD
#masthead {
	padding: 5em 0 6em 0;
	text-align: center;
	background-color: #e6e4e2;
	color: @black;
	.box-shadow(inset 0 -1px 2px rgba(0,0,0,.1));
	.wf-loading {
		visibility: hidden;
	}
	a:hover {
		text-decoration: none;
	}
	.logo {
		text-align: center;
		margin: 1.5em auto 1.25em;
		padding: 0;
		
		a {
			text-decoration: none;
		}
		a:hover {
			.char1 {
				color: @blueDark;
			}
			.char2 {
				color: @black;
			}
			.char3 {
				color: @yellow;
			}
			.char4 {
				color: @red;
			}
			.char5 {
				color: @blueDark;
			}
			.char6 {
				color: @yellow;
			}
			.char7 {
				color: @red;
			}
			.char8 {
				color: @white;
			}
			.char9 {
				color: @black;
			}
			.char10 {
				color: @blueDark;
			}
			.char11 {
				color: @yellow;
			}
			.char12 {
				color: @red;
			}
			.char13 {
				color: @black;
			}
			.char14 {
				color: @yellow;
			}
			.char15 {
				color: @red;
			}
			.char16 {
				color: @blueDark;
			}
			.char17 {
				color: @yellow;
			}
			.char18 {
				color: @red;
			}
			.char19 {
				color: @blueDark;
			}
			.char20 {
				color: @black;
			}
			.char21 {
				color: @yellow;
			}
			img {
				opacity: 1;
			}
			h2 {
				color: @black;
			}
		}
		h1 {
			display: inline;
			color: lighten(@grayLight, 12%);
			text-shadow: 0px 1px 0px fade(@white, 60%);
			font-family: @headFontFamily;
			text-transform: uppercase;
			font-weight: 900;
			font-size: 3.5em;
		}
		h2 {
			font-size: 1.75em;
			margin-top: -0.75em;
			margin-bottom: 0.25em;
			font-family: @scriptFontFamily;
			font-weight: 500;
			color: lighten(@grayLight, 12%);
			text-shadow: 0px 1px 0px fade(@white, 60%);
			text-transform: none;
		}
		img {
			width: 12px;
			height: 12px;
			margin: -2em 0.5em 0;
			opacity: 0.2;
		}
	}
	#welcome {
		color: lighten(@grayLight, 12%);
		text-shadow: 0px 1px 0px fade(@white, 60%);
		padding: 0 0 0.5em;
		margin: -1em 0 -0.25em;
		font-family: @headFontFamily;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 0.9em;
	}
}

// !CALENDAR
#calendar {
	position: relative;
	margin: 1em -1.25em 0;
	.nav {
		position: relative;
		z-index: 4;
		display: table;
		width: 100%;
		li {
			display: table-cell;
			width: 1%;
			float: none;
			text-align: center;			
		}
		a {
		    color: @gray;
		    text-align: center;
		    text-shadow: 0px 1px 0px fade(@white, 60%);
		    .border-radius(@baseBorderRadius);
		    padding: 8px;
		}
		a:hover {
			color: @grayDark;
		}
		.active a {
			color: @grayDark;
			background-color: @yellow;
			box-shadow: none;
		}
		.current a {
			color: @black;
			background-color: lighten(@grayLighter, 5%);
		}
		.disabled a, .disabled a:hover {
			color: lighten(@grayLight, 10%);
			background-color: none;
		}
	}
}

#papertop {
	position: relative;
	z-index: 5;
	height: 5px;
	margin: -5px -1.25em 0;
	background-image: url(../img/bg-main-top.png);
	background-size: 21px 5px;
	background-position: center top;
	background-repeat: repeat-x;
}

// !SIGN IN
#signin {
	max-width: 32em;
	padding: 1em 1em 3em;
	margin: 3em auto;
	background-color: @white;
	.box-shadow(0 2px 4px rgba(0,0,0,.2));
	text-align: center;
	.stripes {
		margin: -1em -1em 0;
		height: 5px;
		background-image: url(../img/bg-header-stripes.png);
		background-size: 400px 5px;
		background-repeat: repeat-x;
	}
	.logo {
		text-align: center;
		margin: 1.5em 0 2em;
		padding: 0 0 1.5em;
		border-bottom: 1px solid @grayLighter;
		
		a {
			text-decoration: none;
		}
		a:hover {
			.char1 {
			    color: @blueDark;
			}
			.char2 {
			    color: @black;
			}
			.char3 {
			    color: @yellow;
			}
			.char4 {
			    color: @red;
			}
			.char5 {
			    color: @blueDark;
			}
			.char6 {
			    color: @yellow;
			}
			.char7 {
			    color: @red;
			}
			.char8 {
			    color: @white;
			}
			.char9 {
			    color: @black;
			}
			.char10 {
			    color: @blueDark;
			}
			.char11 {
			    color: @yellow;
			}
			.char12 {
			    color: @red;
			}
			.char13 {
			    color: @black;
			}
			.char14 {
			    color: @yellow;
			}
			.char15 {
			    color: @red;
			}
			.char16 {
			    color: @blueDark;
			}
			.char17 {
			    color: @yellow;
			}
			.char18 {
			    color: @red;
			}
			.char19 {
			    color: @blueDark;
			}
			.char20 {
			    color: @black;
			}
			.char21 {
			    color: @yellow;
			}
			img {
			    opacity: 1;
			}
			h2 {
				color: @black;
			}
		}
		h1 {
			display: inline;
			color: lighten(@grayLight, 18%);
			text-shadow: 0px 1px 0px fade(@white, 60%);
			font-family: @headFontFamily;
			text-transform: uppercase;
			font-weight: 900;
			font-size: 2em;
		}
		h2 {
			font-size: 1.25em;
			margin-top: 1em;
			margin-bottom: -0.15em;
			font-family: @scriptFontFamily;
			font-weight: 500;
			color: lighten(@grayLight, 18%);
			text-shadow: 0px 1px 0px fade(@white, 60%);
			text-transform: none;
		}
		img {
			width: 8px;
			height: 8px;
			margin: -1em 0.5em 0;
			opacity: 0.2;
		}
	}
	h2 {
		font-size: 1.6em;
	}
	form {
		text-align: center;
	}
	label {
		margin: 1em 0 0.5em;
	}
	input[type="submit"] {
		text-align: center;
		display: block;
		width: 6em;
		margin: 1.5em auto 0;
	}
	.errorlist {
		list-style: none;
		padding: 0;
		margin: 0 0 0.5em;
		color: @red;
	}
	.newpassword {
		border-top: 1px solid @grayLighter;
		padding: 1.6em 0 0;
		margin: 2em 0 -1em;
		a {
			color: @grayLight;
		}
		a:hover {
			color: @grayDark;
			text-decoration: none;
		}
	}
}

// !PRELAUNCH
#prelaunch {
	.container {
		background-image: url(../img/pre-launch-header.png);
		background-size: 940px 600px;
		background-repeat: no-repeat;
		background-position: 50% top;
		padding-bottom: 10em;
	}
	.intro {
		color: @grayDark;
		margin-top: 1.75em;
		margin-bottom: 0.5em;
		font-style: italic;
		font-weight: 400;
		a {
			color: @grayDark;
		}
		a:hover {
			color: @black;
		}
	}
	.logo {
		h1 {
			display: inline;
			color: @black;
			font-family: @headFontFamily;
			text-transform: uppercase;
			font-weight: 900;
			font-size: 3em;
			.char1 {
			    color: @blueDark;
			}
			.char2 {
			    color: @black;
			}
			.char3 {
			    color: @yellow;
			}
			.char4 {
			    color: @red;
			}
			.char5 {
			    color: @blueDark;
			}
			.char6 {
			    color: @yellow;
			}
			.char7 {
			    color: @red;
			}
			.char8 {
			    color: @white;
			}
			.char9 {
			    color: @black;
			}
			.char10 {
			    color: @blueDark;
			}
			.char11 {
			    color: @yellow;
			}
			.char12 {
			    color: @red;
			}
			.char13 {
			    color: @black;
			}
			.char14 {
			    color: @yellow;
			}
			.char15 {
			    color: @red;
			}
			.char16 {
			    color: @blueDark;
			}
			.char17 {
			    color: @yellow;
			}
			.char18 {
			    color: @red;
			}
			.char19 {
			    color: @blueDark;
			}
			.char20 {
			    color: @black;
			}
			.char21 {
			    color: @yellow;
			}
		}
		h2 {
			font-size: 1.75em;
			margin-top: 0.5em;
			margin-bottom: 0.25em;
			font-family: @scriptFontFamily;
			font-weight: 500;
			color: @black;
			text-shadow: 0px 1px 0px fade(@white, 60%);
			text-transform: none;
		}
		img {
			width: 12px;
			height: 12px;
			margin: -1.8em 0.5em 0;
		}
	}
	.tagline {
		font-size: 1em;
		color: @black;
		text-shadow: 0px 1px 0px fade(@white, 60%);
		margin-top: 0.5em;
		margin-bottom: 0em;
	}
	.description {
		color: @grayDark;
		margin-top: 1.75em;
		margin-bottom: 1em;
		font-style: italic;
		font-weight: 400;
	}
	.register {
		margin-top: 1.75em;
		background-color: @white;
		.box-shadow(0 2px 2px rgba(0,0,0,.2));
		.stripes {
			height: 5px;
			background-image: url(../img/bg-header-stripes.png);
			background-size: 400px 5px;
			background-repeat: repeat-x;
		}
		.box {
			margin: 2em;
			p {
				margin-bottom: 1em;
			}
		}
		label {
			display: none;
		}
		.form-actions {
			padding: 0;
			background-color: transparent;
			border-top: none;
			text-align: center;
		}
	}
}

// !SUMMARY
#summary {
	border-bottom: 1px dashed @grayLighter;
	padding: 0.5em 1.25em;
	margin: 1em -1.25em 0em;
	background-image: url(../img/scissor.png);
	background-size: 25px 18px;
	background-position: 8px bottom;
	background-repeat: no-repeat;
	a {
		color: @grayLight;
		text-decoration: none;
	}
	a:hover {
		color: @black;
	}
}

// !MAIN
#main {
	width: 980px;
	margin: -6em auto 2em;
	background-color: @white;
	padding: 0 0 6em;
	.box-shadow(0 2px 2px rgba(0,0,0,.2));
}

// !CONTENT
#content {
	padding-top: 1.25em;
	a:hover .box {
		border: 1px solid @grayLighter;
	}
	.box {
		padding: 3em 0 4em 0;
		.border-radius(@baseBorderRadius);
		border: 1px solid @grayLighter;
	}
	.box-small {
		padding: 1em 0 0.5em 0;
	}
}

// !HOME LATEST
#home-latest {
	border-bottom: 1px solid @grayLighter;
	margin-left: -1.25em;
	padding-left: 1.25em;
	margin-right: -1.25em;
	padding-right: 1.25em;
	padding-bottom: 3em;
}

// !HOME CHARACTERS
#home-characters {
	margin-top: 3em;
}

// !SUMMARY LIST
#summarylist {
	.summaryitem {
		border-bottom: 1px solid @grayLighter;
		padding: 6em 0 3em;
		margin: -3em 0 0;
		h3 {
			margin: 0;
			padding: 0 0 1em;
		}
		p {
			font-size: 1.4em;
			line-height: 1.4em;
		}
	}
}

// !ITEMLIST
#itemlist {
	position: relative;
	.filter {
		position: absolute;
		top: 1.55em;
		right: 0;
	}
	a {
		text-decoration: none;
		.content {
			h3 {
				color: @gray;
			}
			p {
				color: @grayLight;
			}
		}
	}
	a:hover {
		.content {
			h3 {
				color: @grayDark;
			}
			p {
				color: @grayDarker;
			}
		}
	}
	article {
		margin-bottom: 1em;
	}
	article.span8 .content {
		margin: 1em 4em;
	}
	article.span8.headline h3 {
		font-size: 3.5em;
	}
	article a:hover {
		text-decoration: none;
		.meta {
			background-color: lighten(@grayLighter,5%);
		}
	}
	article.headline h3 {
		font-size: 1.8em;
		line-height: 1.2em;
		margin-top: 0.5em;
		text-align: center;
	}
	
	article.proza h3, article.poezie h3, article.essay h3 {
		font-size: 1.4em;
		line-height: 1.2em;
		margin-top: 1em;
		text-align: center;
	}
	.box {
		position: relative;
		overflow: hidden;
		padding: 0;
		height: 16em;
	}
	.overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		background-image: url(../img/itemlist-overlay.png);
		background-size: 50px 40px;
		background-repeat: repeat-x;
		background-position: center bottom;
		width: 100%;
		height: 40px;
	}
	.illustratie .image {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
	}
	.illustratie .overlay {
		visibility: hidden;
	}
	.meta {
		color: @grayLight;
		border-bottom: 1px solid @grayLighter;
		padding: 0.15em 0;
		.genre {
			margin: 0.75em 0 0.75em 0.5em;
			font-style: italic;
		}
		.character {
			width: 40px;
			height: 40px;
			margin: 0.2em 0.5em;
		}
	}
	.content {
		margin: 1em;
	}
	.score {
		position: absolute;
		left: 0.5em;
		bottom: 0.5em;
		margin: 0;
		.label {
			font-family: @sansFontFamily;
			font-size: @fontSizeMini;
			color: @grayDark;
			text-shadow: 0px 1px 0px fade(@white, 80%);
			background-color: @yellow;
			.box-shadow(0 1px 0px fade(@black, 20%));
		}
	}
	.info {
		margin: 0.5em 0 0 0;
		color: lighten(@grayLight, 10%);
		.author {
			float: left;
		}
		.timestamp {
			float: right;
		}
		a {
			color: @gray;
		}
		a:hover {
			color: @grayDark;
			text-decoration: underline;
		}
	}
}

// !CHARACTER INFO
#characterinfo {
	padding-bottom: 2em;
	h2 {
		position: relative;
		z-index: 3;
		margin-bottom: 2em;
	}
	.biography {
		position: relative;
		z-index: 2;
	}
	.portrait {
		position: relative;
		z-index: 1;
		margin-top: -5em;
	}
}

// !CHARACTERLIST
#characterlist {
	img {
		opacity: 0.7;
	}
	a {
		text-decoration: none;
		h4 {
			color: @gray;
			padding-bottom: 1em;
		}
	}
	a:hover {
		h4 {
			color: @black;
		}
		img {
			opacity: 1;
		}
	}
}

// !PLAYER DETAIL
#playerdetail {
	.meta {
		position: relative;
	}
	.label {
		display: block;
		position: absolute;
		top: 2.5em;
		left: 0;
		text-decoration: none;
	}
	.edit {
		position: absolute;
		top: 1.55em;
		right: 0;
		text-decoration: none;
	}
	.light {
		color: @grayLight;
	}
	h4 {
		margin-top: 2em;
		margin-bottom: 1em;
	}
	table {
		border-bottom: 1px solid #ddd;
		h5 {
			margin: 0.5em 0 0.25em;
			a {
				color: @gray;
				text-decoration: none;
			}
			a:hover {
				color: @black;
			}
		}
		p {
			margin: 0.25em 0 0.5em;
		}
		.alert {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			a {
				margin-left: 0.5em;
			}
		}
	}
}

// !PLAYER EDIT
#playeredit {
	form {
		margin: 1em 0 0;
		padding: 1em 0 0;
	}
}

// !ITEM DETAIL
#itemdetail {
	.box {
		padding-top: 0;
	}
	.meta {
		color: @grayLight;
		margin: -1.25em -1.25em 4em;
		padding: 0.5em 1em;
		border-bottom: 1px solid @grayLighter;
		p {
			margin: 0.6em 0;
			font-style: italic;
		}
		.genre {
			
		}
		.character {
			width: 40px;
			height: 40px;
			margin-left: 0.5em;
		}
	}
	.author {
		margin: -1em 0 2em;
	}
	.headline {
		h2 {
			font-size: 4em;
		}
	}
	article {
		p {
			font-size: 1.4em;
			line-height: 1.4em;
		}
	}
	figure {
		text-align: center;
	}
	.social {
		display: block;
		overflow: hidden;
		border: 1px solid @grayLighter;
		margin: 2em 0 6em;
		.border-radius(@baseBorderRadius);
		.score {
			font-family: @sansFontFamily;
			font-size: 1em;
			font-weight: 800;
			color: @grayDark;
			text-shadow: 0px 1px 0px fade(@white, 80%);
			background-color: @yellow;
			margin: 0;
			padding: 1em 1.5em;
		}
		ul {
			margin: 0;
		}
		form {
			margin: 0;
		}
		.like {
			margin: 0.75em 0 0 1em;
			input {
				margin-top: -0.15em;
			}
		}
		.twitter {
			display: block;
			overflow: hidden;
			margin: 1em 0 0;
		}
		.facebook {
			display: block;
			overflow: hidden;
			margin: 0.95em 1em 0 0;
		}	
	}
	.navigator {
		margin: 0 -1.25em -6em;
		padding: 2em 4em 2em;
		border-top: 1px solid @grayLighter;
		.prev, .next {
			width: 50%;
			overflow: hidden;
		}
		h4 {
			font-size: 1.5em;
			margin-bottom: 0.75em;
		}
		li {
			padding: 0.2em 0;
			font-size: 1.1em;
		}
	}
}

// !CREATE ITEM
#createitem {
	.info {
		padding: 0.5em 0;
		margin: 0;
		border-bottom: 1px solid @grayLighter;
		li {
			list-style: none;
		}
		li.pull-left {
			color: @grayLight;
			float: left;
			width: 28%;
		}
		li.pull-right {
			float: right;
			width: 70%;
		}
		ul.choices {
			margin: 0.5em 0 0;
			padding: 0;
			li {
				margin: 0 0 0.25em 0;
				padding: 0;
				text-indent: -5px;
			}
			li:before{
				content: "-";
				position: relative;
				left: -0.5em;
			}
		}
	}
	form {
		margin: 1em 0;
		padding: 1em 0 0;
	}
	#id_text {
		font-size: 1.5em;
		line-height: 1.4em;
	}
	#charactercount {
		background-color: @orange;
	}
	#charactercount.limit {
		background-color: @red;
	}
	#div_id_new_topic, #div_id_image {
		clear: both;
	}
}

// !PREVIEW ITEM
#previewitem {
	.info {
		padding: 0.5em 0;
		margin: 0;
		li {
			list-style: none;
			border-bottom: 1px solid @grayLighter;
			padding: 0.5em 0 0.4em;
		}
		li.pull-left {
			color: @grayLight;
			float: left;
			width: 30%;
		}
		li.pull-right {
			float: right;
			width: 70%;
		}
	}
	p.lead {
		margin: 1em 0;
	}
	form {
		margin: 0;
		padding: 1em 0 0;
	}
}

// !ENTRY QUEUE
#entryqueue {
	.item {
		margin-top: 1em;
	}
	.action {
		margin-bottom: 2em;
	}
}

// !NOTIFICATIONS
#notifications {
	.new td {
		background-color: lighten(@blue, 30%);
	}
	.date {
		color: @grayLight;
	}
	.label {
		font-family: @sansFontFamily;
		font-size: @fontSizeMini;
		margin-left: 0.5em;
		background-color: @blueDark;
	}
}

// !TOPIC LIST
#topiclists {
	table {
		border-bottom: 1px solid #ddd;
	}
}

// !COLOFON
#colofon {
	table {
		border-bottom: 1px solid #ddd;
		&.sponsors {
			margin-top: 6em;
			border: 0;
			td {
				border: 0;
				text-align: center;
			}
		}
	}
}

// !FOOTER
#footer {
	color: @grayLight;
	padding: 0.5em 0 1.5em;
	a {
		color: @gray;
	}
	a:hover {
		color: @grayDark;
	}
}