/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   LESS
   ========================================================================== */

@white: 	rgb(255,255,255);
@wgrey: 	rgb(230,230,230);
@lgrey: 	rgb(180,180,180);
@mgrey: 	rgb(130,130,130);
@dgrey: 	rgb(80,80,80);
@bgrey: 	rgb(40,40,40);
@black: 	rgb(0,0,0);

@red:		rgb(241,4,14);
@yellow:	rgb(255,212,26);

@lblue:		rgb(0,30,240);
@mblue:		rgb(0,50,190);
@dblue:		rgb(0,20,120);

@serif:		"adobe-caslon-pro", georgia, 'times new roman', times, serif;
//@sans:	"franklin-gothic-urw-cond", helvetica, arial, sans-serif;
@blackl:	"ff-brokenscript-bc-web", helvetica, arial, sans-serif;

.rounded-corners (@radius: 4px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.rotated-object (@degrees: 90deg) {
	-webkit-transform: rotate(@degrees);
	-moz-transform: rotate(@degrees);
	-ms-transform: rotate(@degrees);
	-o-transform: rotate(@degrees);
	transform: rotate(@degrees)
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
	font-family: @serif;
}

h1, h2, h3, h4, h5 {
	font-family: @serif;
	font-weight: 400;
	text-align: center;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.75em;
}

h5 {
	font-size: 1.5em;
}

a:link, a:visited {
	color: @black;
	text-decoration: underline;
}

a:hover {
	color: @lblue;
	text-decoration: none;
}

a:link.button, a:visited.button {
	background-color: @lblue;
	padding: 5px 10px 1px;
	color: @white;
	text-decoration: none;
	.rounded-corners;
	box-shadow: inset 0px -3px 0px @dblue;
}

a:hover.button {
	color: @white;
	background-color: @mblue;
}

a:active.button {
	box-shadow: inset 0px 3px 0px @dblue;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid @lgrey;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0;
	background: @lgrey;
	color: @black;
	padding: 0.5em 0;
	text-align: center;
	background-color: @yellow;
	border-bottom: 1px solid @lgrey;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
	background-image: url(/static/img/bg.png);
	background-size: 128px 116px;
	background-repeat: repeat;
}

[role="document"] {
	
}

.wrapper {
	position: relative;
	overflow: visible;
	display: block;
	margin: 0 auto;
	width: 940px;
	min-width: 960px;
	padding: 0 10px;
}

header[role="banner"] {
	position: fixed;
	z-index: 9999;
	width: 100%;
	padding: 0 0 2em;
	background-image: url(/static/img/bg-header.png);
	background-repeat: repeat;
	background-size: 400px 100px;
	background-position: center bottom;
	a:link, a:visited {
		text-decoration: none;
	}
	.stripes {
		height: 5px;
		width: 100%;
		background-image: url(/static/img/bg-header-stripes.png);
		background-repeat: repeat;
		background-size: 400px 5px;
		background-position: center bottom;
		margin-bottom: 1.2em;
	}
	.navigation {
		float: left;
		ul {
			display: block;
			margin: 0;
			padding: 0;
		}
		li {
			display: inline;
			margin-left: 1em;
		}
		li.ss-icon {
			vertical-align: -0.1em;
		}
		li.active a:link, li.active a:visited {
			font-weight: 700;
			color: @black;
		}
		ul li:first-child {
			margin-left: 0;
		}
	}
	.dashboard {
		float: right;
		.logout {
			
		}
	}
}

#masthead {
	margin-top: 5em;
	text-align: center;
	ul {
		margin: 1em auto 1.2em;
		padding: 0;
		list-style: none;
	}
	li {
		display: inline;
		margin: 0;
		padding: 0;
	}
	a:link, a:visited {
		text-decoration: none;
		color: @black;
	}
	a:hover {
		.char1 {
			color: @yellow;
		}
		.char2 {
			color: @lblue;
		}
		.char3 {
			color: @black;
		}
		.char4 {
			color: @red;
		}
		.char5 {
			color: @yellow;
		}
		.char6 {
			color: @lblue;
		}
		.char7 {
			color: @black;
		}
		.char9 {
			color: @red;
		}
		.char10 {
			color: @black;
		}
		.char11 {
			color: @yellow;
		}
		.char12 {
			color: @lblue;
		}
		.char13 {
			color: @yellow;
		}
		.char14 {
			color: @black;
		}
		.char16 {
			color: @lblue;
		}
		.char17 {
			color: @yellow;
		}
		.char18 {
			color: @red;
		}
		.char19 {
			color: @black;
		}
		.char20 {
			color: @lblue;
		}
		.char21 {
			color: @black;
		}
	}
	.logo {
		text-align: center;
	}
	.logo h1 {
		font-family: @blackl;
		display: inline;
		font-size: 2.5em;
		font-weight: 700;
	}
	.logo img {
		width: 8px;
		height: 8px;
		margin: -1.4em 0.5em 0;
	}
	.date {
		text-align: right;
		vertical-align: 0.6em;
	}
	.week {
		text-align: left;
		vertical-align: 0.6em;
	}
	.calendar {
		color: @lgrey;
		position: relative;
		z-index: 2;
		table {
			width: 100%;
			text-align: center;
			margin-bottom: -1px;
		}
		a:link, a:visited {
			display: block;
			color: @dgrey;
			text-decoration: none;
			height: 100%;
			width: 100%;
			padding: 0.8em 0;
		}
		a:hover {
			color: @lblue;
		}
		td.active a:link, td.active a:visited {
			color: @black;
			background-image: url(/static/img/calendar-arrow.png);
			background-repeat: no-repeat;
			background-size: 20px 15px;
			background-position: center bottom;
		}
	}
}

#main {
	
}

#sidebar {
	position: relative;
	z-index: 3;
	display: block;
	background-color: @white;
	width: 100%;
	.summary {
		display: block;
		list-style: none;
		padding: 0 40px;
		margin: 0;
		border-top: 2px solid @black;
		border-bottom: 1px solid @black;
		margin-bottom: 1px;
		background-color: @white;
	}
}

#content {
	position: relative;
	padding-bottom: 4em;
	background-color: @white;
	.rounded-corners;
	box-shadow: 0px 1px 2px @lgrey;
}

article {
	margin-bottom: 6em;
	h2 {
		text-align: center;
		margin-bottom: 0.5em;
		text-transform: capitalize;
		font-weight: 400;
	}
	img.poster {
		display: block;
		width: 880px;
		height: 320px;
		padding-bottom: 1.5em;
		margin-bottom: 1em;
	}
	p {
		width: 70%;
		margin: 0 auto;
	}
	p.author {
		text-transform: uppercase;
		color: @lgrey;
		text-align: center;
	}
	p.subject {
		text-align: center;
		margin-bottom: 1em;
	}
}

#home #characters {
	h2 {
		text-align: center;
		border-bottom: 1px solid @wgrey;
		margin-bottom: 0.5em;
		text-transform: capitalize;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: block;
	}
	li {
		float: left;
		overflow: hidden;
		width: 20%;
		margin-left: 6.65%;
		text-align: center;
		a:link, a:visited {
			display: block;
			text-decoration: none;
		}
		img {
			width: 100%;
			height: auto;
			.rounded-corners(100px);
		}
		h3 {
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 1em;
			font-size: 1em;
			line-height: 1.1em;
			margin-bottom: 0.5em;
		}
		p {
			margin-top: 0;
			margin-bottom: 2em;
		}
	}
	li:nth-child(4n+1) {
		margin-left: 0;
	}
}

#footer {
	text-align: center;
	margin-top: 1px;
	padding: 0.55em 0 0.2em;
	p {
		display: block;
		width: 100%;
		text-align: center;
		color: @mgrey;
		float: left;
	}
	a:link, a:visited {
		color: @dgrey;
		text-decoration: none;
	}
	a:hover {
		color: @black;
		text-decoration: underline;
	}
	ul {
		float: right;
		display: block;
	}
	li {
		display: inline;
		margin-right: 1em;
	}
	li:last-child {
		margin-right: 0;
	}
}

#login {
	position: relative;
	display: block;
	width: 20em;
	padding: 2em 3em;
	margin: 0 auto;
	background-color: @white;
	background-image: url(/static/img/bg-paper.png);
	background-repeat: repeat;
	background-size: 120px 120px;
	margin-top: 4em;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
	text-align: center;
	margin-bottom: 4em;
	.rounded-corners();
	.logo {
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 1em;
	}
	.logo h1 {
		display: inline;
		font-size: 1.5em;
		font-weight: 800;
	}
	.logo h1 img {
		width: 8px;
		height: 8px;
		margin: -0.25em 0.25em 0;
	}
	.error {
		color: @red;
		text-shadow: 0 1px 0 @white;
		background-color: fade(@red, 10%);
		padding: 0.5em;
		.rounded-corners(12px);
	}
	.errorlist {
		list-style: none;
		padding: 0;
	}
	.errorlist {
		
	}
	.loginform {
		list-style: none;
		padding: 0;
		li {
			margin-bottom: 0.5em;
		}
		input {
			font-size: 1.5em;
			padding: 0.25em;
			font-family: @serif;
			text-align: center;
		}
	}
	input[type="submit"] {
		font-family: @serif;
		font-size: 1.5em;
		background-color: @yellow;
		padding: 0.25em 1em;
		.rounded-corners();
		box-shadow: inset 0px 1px 0px rgba(255,255,255,0.6);
		box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
		color: rgb(80,80,80);
		text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
		text-decoration: none;
		border: 0;
	}
	input[type="submit"]:hover {
		color: @black;
		box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	}
	.newpassword {
		padding-top: 1em;
		a:link, a:visited {
			color: @mgrey;
		}
		a:hover {
			color: @dgrey;
		}
	}
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	  `contenteditable` attribute is included anywhere else in the document.
 *	  Otherwise it causes space to appear at the top and bottom of elements
 *	  that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	  `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (max-width: 62em) {
	
}

@media screen and (max-width: 48em) {
	
}

@media screen and (max-width: 32em) {
	
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min-resolution: 144dpi) {
	
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
