html,button,input,select,textarea{color:#222;}
body{font-size:1em;line-height:1.4;font-family:"minion-pro","Times New Roman",Times,serif;}
h1,h2,h3,h4,h5{font-family:"futura-pt-condensed",helvetica,arial,sans-serif;}
a:link,a:visited{color:black;text-decoration:underline;}
a:hover{text-decoration:none;}
a:link.button,a:visited.button{background-image:-webkit-linear-gradient(bottom, #f0c80f 0%, #fcd600 100%);padding:4px 10px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.6);box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);color:#505050;text-shadow:0px 1px 0px rgba(255, 255, 255, 0.6);text-decoration:none;}
a:hover.button{color:#000000;box-shadow:0px 1px 1px rgba(0, 0, 0, 0.4);}
::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}
hr{display:block;height:1px;border:0;border-top:1px solid #c8c8c8;margin:1em 0;padding:0;}
img{vertical-align:middle;}
fieldset{border:0;margin:0;padding:0;}
textarea{resize:vertical;}
.chromeframe{margin:0.2em 0;background:#c8c8c8;color:#000000;padding:0.2em 0;}
body{background-color:#e6e6e6;background-image:url(/static/img/bg-paper.png);background-repeat:repeat;background-size:128px 116px;}
[role="document"]{position:relative;display:block;width:960px;margin:0 auto;padding:0;}
header[role="banner"]{padding:1em 0;}
#navigation{float:left;}#navigation ul{display:block;margin:0;padding:0;}
#navigation li{display:inline;margin-left:1em;}
#navigation ul li:first-child{margin-left:0;}
#dashboard{float:right;}
[role="main"]{background-color:#ffffff;}
#calendar{width:100%;display:block;padding:0;margin:0;text-align:center;border-bottom:1px dotted #c8c8c8;color:#a0a0a0;}#calendar li{display:inline-block;width:9.5%;padding:0.6em 0;border-right:1px dotted #c8c8c8;}
#calendar li:last-child{border-right:none;}
#masthead{text-align:center;padding:1em 0;}#masthead ul{margin:0 auto;padding:0;list-style:none;}
#masthead li{display:inline;margin:0;padding:0;}
#masthead .logo{text-align:center;text-transform:uppercase;}
#masthead .logo h1{display:inline;font-size:2.5em;font-weight:800;}
#masthead .logo h1 span{vertical-align:0.25em;margin:0 0.25em;}
#masthead .date{text-align:right;vertical-align:0.5em;}
#masthead .week{text-align:left;vertical-align:0.5em;}
.sidebar{display:block;background-color:green;}.sidebar .summary{display:block;list-style:none;padding:0;margin:0;}.sidebar .summary .title{background-color:yellow;float:left;}.sidebar .summary .title h1{display:inline;background-color:aqua;}
.sidebar .summary .copy{background-color:green;float:left;}.sidebar .summary .copy p{display:inline;}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:100%;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
@media screen and (max-width:62em){}@media screen and (max-width:48em){}@media screen and (max-width:32em){}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi){}@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
