{% extends "base.html" %}
{% load url from future %}

{% block pagetitle %}Bijdragen over {{ character.name }}{% endblock pagetitle %}

{% block bodyid %}character_profile{% endblock %}

{% block content %}

<div id="characterinfo" class="row">
	<h2 class="span12 text-center">{{ character.name }}</h2>
	<div class="span6 offset1 biography">
		<p class="lead">{{ character.onelinebio }}</p>
		<p>{{ character.biography }}</p>
	</div>
	<div class="span5 portrait">
		<img src="{{ character.avatar.url }}" alt="{{ character.name }}">
	</div>
</div>

<hr>

<div id="itemlistinfo" class="clearfix">

	<h2 class="text-center"><span class="sub-top">Bijdragen over</span> {{ character.name }}</h2>
	
	{% if pieces.count > 1 %}
	<div class="filter pull-right">
		<div class="btn-group"> 
			{% ifequal order '-datecreated' %}
				<a href="?order=-rating" class="btn">Beste</a>
			{% else %}
				<a href="?order=-rating" class="btn active">Beste</a>
			{% endifequal %}
			
			{% ifequal order '-rating' %}
				<a href="?order=-datecreated" class="btn">Nieuwste</a>
			{% else %}
				<a href="?order=-datecreated" class="btn active">Nieuwste</a>
			{% endifequal %}
		</div>
	</div>
	{% endif %}

</div>

<div id="itemlist" class="row clearfix">
	{% for piece in character.pieces %}
		{% include "boogie/piece_fragment.html" %}
	{% endfor %}
</div>

{% endblock %}