{% extends "base.html" %}

{% block pagetitle %}Colofon{% endblock pagetitle %}

{% block content %}
<div class="row">
	
	<div class="span8 offset2">
		<h2 class="text-center">Colofon</h2>
		<p><em>Boogie Woogie Daily</em> is een experimentele literaire game, gemaakt door <a href="http://www.de-gids.nl/">De Gids</a> en <a href="http://hubbub.eu/">Hubbub</a>. De Gids is Nederlands&rsquo; oudste nog bestaande literaire tijdschrift&mdash;al meer dan 175 jaar! Hubbub is een ontwerpstudio gespecialiseerd in nieuwe spelvormen. <em>Boogie Woogie Daily</em> is gerealiseerd met steun van <a href="http://gamefonds.nl/">Gamefonds</a>, en <a href="http://www.groene.nl/">De Groene Amsterdammer</a>.</p>
		<h3 class="text-center">Contact</h3>
		<p>Stuur e-mail naar <a href="mailto:redactie@gidsgame.nl">redactie@gidsgame.nl</a>.</p>
	</div>

	<div class="span8 offset2">
		<h3 class="text-center">Schrijvers</h3>
		<p>Het onderstaande bonte gezelschap vormt achter de schermen de redactie. Ze schrijven stukken over de personages, en beoordelen bijdragen van spelers.</p>
		<ul>
			{% for writer in writers %}
				<a href="{{ writer.get_absolute_url }}">
					<li>{{ writer.pseudonym }}</li>
				</a>
			{% endfor %}
		</ul>
	</div>
	
</div>
{% endblock %}