{% extends "base.html" %}

{% block pagetitle %}Colofon{% endblock pagetitle %}

{% block bodyid %}colofon{% endblock %}

{% block content %}
<div class="box">
	<div class="row">
	
		<div class="span8 offset2">
			<h2 class="text-center">Colofon</h2>
			<p>Suspendisse quis odio ante, ut semper lorem. Etiam ullamcorper fermentum augue sed gravida. In commodo, mauris ac elementum congue, sapien eros placerat ante, at tincidunt elit leo eleifend tortor. Sed elementum ornare justo nec viverra. Sed consequat nunc et metus porttitor consectetur. Donec eu velit eu lectus faucibus hendrerit. Aenean hendrerit hendrerit tortor, nec dignissim leo semper a.</p>
		</div>
		
		<div class="span8 offset2">
			<h3 class="text-center">De Schrijvers</h3>
			<div class="span2 text-center">
				{% for writer in writers %}
					<a href="{{ writer.get_absolute_url }}">
						<img class="img-polaroid" src="{{ writer.avatar.url }}" alt="{{ writer.pseudonym }}"></img> 
						<h4>{{ writer.pseudonym }}</h4>
					</a>
				{% endfor %}
			</div>
		</div>

				
	</div>
</div>
{% endblock %}