{% extends "base.html" %}

{% block pagetitle %}Spelregels{% endblock pagetitle %}

{% block content %}
<div class="row">
	<div class="span8 offset2">
	
	<h2 class="text-center">Spelregels</h2>
	<p class="lead"><em>Victory Boogie Woogie</em> is een gezamenlijk schrijfspel. Meld je aan, doe schrijfopdrachten, daag de schijvers-redactie uit en bepaal mede de koers van het verhaal.</p>
	<hr>
	<h3 class="text-center">Doel</h3>
	<p>Iedereen kan meedoen door zich op deze site aan te melden. Daarnaast is er een groep heuse schrijvers, die achter de schermen de redactie vormt en meeschrijft. Het gezamenlijke doel van het spel is om een zo goed mogelijk verhaal te vertellen. Aan het einde van de game, na 10 weken spelen, hebben we samen ontdekt hoe het zit met de Victory Boogie Woogie III, Chen, enz.</p>
	
	<h3 class="text-center">Schrijven</h3>
	<p>Spelen doe je door bijdragen te schrijven en in te sturen. Op gezette tijden krijg je een nieuwe schrijfopdracht van het spel. Iedere bijdrage gaat over een onderwerp, dat uit de immer-groeiende lijst onderwerpen willekeurig voor je is geselecteerd. Je moet dus rekening houden met wat er eerder over dat onderwerp is geschreven. Je mag ook een suggestie doen voor een nieuw onderwerp. De redactie beoordeelt elke bijdrage. (Dat voelt misschien wat ouderwets, maar zo kunnen we de kwaliteit van de bijdragen garanderen.) Wordt je bijdrage goedgekeurd, dan verschijnt hij op de site en wordt je nieuwe onderwerp aan de lijst voor spelers toegevoegd.</p>
	
	<h3 class="text-center">Onderwerpen</h3>
	<p>Op gezette tijden kijken we hoeveel bijdragen er per onderwerp zijn gepubliceerd. De onderwerpen met de meeste bijdragen worden naar de lijst voor schrijvers gestuurd. Nu is het de beurt aan hun om daar iets over te schrijven, en zo het verhaal verder te helpen. Na het verschijnen van zo'n schrijvers-bijdrage komt het onderwerp weer terug in de lijst speler-onderwerpen. Enzovoorts, enzovoorts. Een nimmer-eindigende cyclus van associatief schrijven!</p>

	<h3 class="text-center">Personages</h3>
	<p>Bijdragen van schrijvers gaan doorgaans over de personages die centraal staan in het spel. Als speler kun je je bijdrage—normaal gesproken—niet direct koppelen aan een personage. Je kan natuurlijk wel verwijzen naar wat is geschreven over de personages tot nu toe. Maar: de redactie nodigt zo nu en dan een speler uit om eenmalig iets over een personage te schrijven. Wie weet ben jij wel de gelukkige…</p>

	<p>Kortom, meld je aan, lees het verhaal tot nu toe (de redactie werkt het zo nu en dan bij) begin met schrijven en bepaal mede de afloop van Victory Boogie Woogie!</p>
	</div>
</div>
{% endblock content %}