{% extends "base.html" %}

{% block pagetitle %}Spelregels{% endblock pagetitle %}

{% block bodyid %}editors{% endblock %}

{% block content %}
<div class="row">
	<div class="span8 offset2">
	
	<h2 class="text-center">Spelregels</h2>
	<p class="lead">Doe mee aan een gezamenlijk schrijfspel. Meld je aan, doe schrijfopdrachten, daag de schijvers-redactie uit en bepaal mede de koers van het verhaal.</p>
	<hr>
	<h3 class="text-center">Doel</h3>
	<p><em>Boogie Woogie Daily</em> is een experimentele literaire game. Iedereen kan meedoen door zich op deze site aan te melden. Daarnaast is er een groep heuse schrijvers, dat achter de schermen de redactie vormt en meeschrijft. Het gezamenlijke doel van het spel is om een zo goed mogelijk verhaal te vertellen. Aan het einde van de game, na 10 weken spelen, hebben we samen ontdekt hoe het zit met de Boogie Woogie Daily III, Chen, enz.</p>
	
	<h3 class="text-center">Schrijven</h3>
	<p>Spelen doe je door bijdragen te schrijven en in te sturen. Op gezette tijden krijg je een nieuwe schrijfopdracht van het spel. Iedere bijdrage gaat over een onderwerp, dat uit de immer-groeiende lijst onderwerpen willekeurig voor je is geselecteerd. Je houdt uiteraard ook rekening met wat er vooraf is gegaan. (Lees daarvoor het verhaal tot nu toe, en de verhalen per onderwerp.) De redactie beoordeelt elke bijdrage. (Dat voelt misschien wat ouderwets, maar zo kunnen we de kwaliteit van de bijdragen garanderen.) Wordt je bijdrage goedgekeurd, dan verschijnt hij op de site.</p>
	
	<h3 class="text-center">Onderwerpen</h3>
	<p>Als je bijdrage wordt goedgekeurd mag je ook een nieuw onderwerp aan de lijst toevoegen. Bovendien is het zo dat als er voldoende bijdragen over een onderwerp zijn geschreven, het naar de schrijvers wordt gestuurd. Nu is het de beurt aan hun om daar iets over te schrijven, en zo het verhaal verder te helpen. Na het verschijnen van zo'n schrijvers-bijdrage, wat we een “gebeurtenis” noemen, komt het onderwerp weer terug in de lijst speler-onderwerpen, of wordt het gearchiveerd.</p>
	<p>Kortom, meld je aan, lees het verhaal tot nu toe (de redactie werkt het zo nu en dan bij) begin met schrijven en bepaal mede de afloop van Boogie Woogie Daily!</p>
		
	</div>
</div>
{% endblock content %}