{% extends "base.html" %}

{% block pagetitle %}Spelregels{% endblock pagetitle %}

{% block content %}
<div class="row">
	<div class="span8 offset2">
	<h2 class="text-center">Spelregels</h2>
	<p class="lead">Victory Boogie Woogie is een gezamenlijk schrijfspel. Meld je aan, krijg een schrijfopdracht, lever je bijdrage in en bepaal mede de koers van het verhaal.De game werkt met opdrachten. Je krijgt de opdracht over een specifiek onderwerp en/of voor een bepaald personage te schrijven. Zodra jouw bijdrage wordt geplaatst (en waar nodig geredigeerd), moeten de andere spelers voortborduren op jouw tekst. Zo werken we samen aan een onvoorspelbare uitkomst.</p>
	<hr>
	<h3 class="text-center">Doel</h3>
	<p>Iedereen kan meedoen door zich op deze site aan te melden. Als redactie treedt een groep schrijvers op die ook meespeelt en -schrijft. Het gezamenlijke doel van de game is om een goed geschreven, divers en spannend verhaal te vertellen. Aan het einde van de game, na 10 weken spelen, hebben we samen ontdekt hoe het zit met de Victory Boogie Woogie III, Chen, kunstvervalsingen enz. enz.</p>
	<h3 class="text-center">Schrijven</h3>
	<p>Spelen doe je door bijdragen te schrijven en in te sturen. Op gezette tijden krijg je een nieuwe schrijfopdracht van de game. Iedere bijdrage gaat over een onderwerp, dat uit de immer-groeiende lijst onderwerpen willekeurig voor je is geselecteerd. Je moet dus rekening houden met wat er eerder over dat onderwerp is geschreven. Je mag ook een suggestie doen voor een nieuw onderwerp. De redactie beoordeelt elke bijdrage. Wordt je bijdrage goedgekeurd, dan verschijnt hij op de site en wordt je nieuwe onderwerp aan de lijst voor spelers toegevoegd.</p>
	<h3 class="text-center">Onderwerpen</h3>
	<p>De onderwerpen met de meeste bijdragen worden naar de lijst voor schrijvers gestuurd. Nu is het de beurt aan hen om daar iets over te schrijven, en zo het verhaal verder te helpen. Na het verschijnen van zo'n schrijversbijdrage komt het onderwerp weer terug in de lijst met speleronderwerpen. Enzovoorts, enzovoorts. Een nimmer-eindigende cyclus van associatief schrijven!</p>
	<h3 class="text-center">Personages</h3>
	<p>Bijdragen van schrijvers gaan doorgaans over de personages die centraal staan in de game. Als speler kun je je bijdrage—normaal gesproken—niet direct koppelen aan een personage. Je kan natuurlijk wel verwijzen naar wat is geschreven over de personages tot nu toe. Maar: de redactie nodigt zo nu en dan een speler uit om ook over een personage te schrijven en mee te bepalen wat er gebeurt. Wie weet ben jij wel de gelukkige…</p>
	<p>Kortom, meld je aan, lees het verhaal tot nu toe (de redactie houdt de ontwikkelingen nauwgezet bij), begin met schrijven en bepaal mede de afloop van Victory Boogie Woogie!</p>
	</div>
</div>
{% endblock content %}