{% extends "base.html" %}

{% block pagetitle %}Help{% endblock pagetitle %}

{% block bodyid %}help{% endblock %}

{% block content %}
<div class="row">
	<div class="span8 offset2">
		<h2 class="text-center">Help</h2>
		<p><em>Victory Boogie Woogie</em> is een experimentele literaire game. Iedereen kan meedoen door zich op deze site aan te melden. Daarnaast is er een groep heuse schrijvers, dat achter de schermen de redactie vormt en meeschrijft. Het gezamenlijke doel van het spel is om een zo goed mogelijk verhaal te vertellen. Aan het einde van de game, na 10 weken spelen, hebben we samen ontdekt hoe het zit met de Victory Boogie Woogie III, Chen, enz.</p>
	</div>
</div>
{% endblock %}