{% extends "base.html" %}

{% block pagetitle %}Help{% endblock pagetitle %}

{% block content %}
<div class="row">
	<div class="span8 offset2">
		<h2 class="text-center">Help</h2>
		<p>Victory Boogie Woogie is een experimentele literaire game. Iedereen kan meedoen door zich op deze site aan te melden. Als redactie treedt een groep schrijvers op die ook meespeelt en -schrijft. Het gezamenlijke doel van het spel is om een goed geschreven, divers en spannend verhaal te vertellen. Aan het einde van de game, na 10 weken spelen, hebben we samen ontdekt hoe het zit met de Victory Boogie Woogie III, Chen, kunstvervalsingen enz. enz.</p>
		<h3 class="text-center">Veelgestelde vragen</h3>
		<p>Hieronder verzamelen we de antwoorden op de meest voorkomende vragen. Staat je vraag er niet bij? Stuur dan een e-mail aan <a href="mailto:help@gidsgame.nl">help@gidsgame.nl</a></p>
	</div>
</div>
{% endblock %}