{% extends "base.html" %}
{% load url from future %}

{% block bodyid %}home{% endblock %}

{% block content %}
	{% for piece in pieces %}
		{% include "boogie/piece_fragment.html" %}
	{% endfor %}
	
	<!-- TODO: Hook this up to characters played by writers. -->
	<section id="characters">
		<h2>De personages</h2>
		<ul>
			<li>
				<a href="" title="Character Name">
					<img src="{{ STATIC_URL }}avatars/placeholder.jpg" alt="Character Name">
					<h3>Character name</h3>
					<p>One line character bio.</p>
				</a>
			</li>
			<li>
				<a href="" title="Character Name">
					<img src="{{ STATIC_URL }}avatars/placeholder.jpg" alt="Character Name">
					<h3>Character name</h3>
					<p>One line character bio lorem ipsum dolor.</p>
				</a>
			</li>
			<li>
				<a href="" title="Character Name">
					<img src="{{ STATIC_URL }}avatars/placeholder.jpg" alt="Character Name">
					<h3>Character name</h3>
					<p>One line character bio este lauda.</p>
				</a>
			</li>
			<li>
				<a href="" title="Character Name">
					<img src="{{ STATIC_URL }}avatars/placeholder.jpg" alt="Character Name">
					<h3>Character name</h3>
					<p>One line character bio durum es lorem.</p>
				</a>
			</li>
			<li>
				<a href="" title="Character Name">
					<img src="{{ STATIC_URL }}avatars/placeholder.jpg" alt="Character Name">
					<h3>Character name</h3>
					<p>One line character bio sit amet.</p>
				</a>
			</li>
			<li>
				<a href="" title="Character Name">
					<img src="{{ STATIC_URL }}avatars/placeholder.jpg" alt="Character Name">
					<h3>Character name</h3>
					<p>One line character bio sit amet.</p>
				</a>
			</li>
			<li>
				<a href="" title="Character Name">
					<img src="{{ STATIC_URL }}avatars/placeholder.jpg" alt="Character Name">
					<h3>Character name</h3>
					<p>One line character bio sit amet.</p>
				</a>
			</li>
			<li>
				<a href="" title="Character Name">
					<img src="{{ STATIC_URL }}avatars/placeholder.jpg" alt="Character Name">
					<h3>Character name</h3>
					<p>One line character bio sit amet.</p>
				</a>
			</li>
		</ul>
	</section>	
{% endblock %}

{% block sidebar %}
	{% if summary %}
	<div class="summary">
		<p><strong>Het verhaal tot nu toe... </strong> {{ summary.0.content|safe|truncatewords_html:60 }} <a href="{{ summary.0.get_absolute_url }}">lees meer</a></p>
	</div>
	{% endif %}
{% endblock sidebar %}