{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <h1>Frontpage</h1>

    {% for topic in topics %}
        Onderwerp: <a href="{% url 'topic_detail' topic.id topic.slug %}">{{ topic.title }}</a><br>
    {% endfor %}
    
    <h1>Bijdragen</h1>

	{% for piece in pieces %}
		{{ piece.text }}<br>
	{% endfor %}    
    
{% endblock %}

{% block sidebar %}
	<div class="fold"><div></div></div>
	<table class="summary">
		<tr>
			<th class="title"><h1>Tot nu toe...</h1></th>
			<th class="copy"><p>hello lorem ipsum dolor este lauda, hello lorem ipsum dolor este lauda, hello lorem ipsum dolor este lauda, hello lorem ipsum dolor este lauda, hello lorem ipsum dolor este lauda.</p>
		{% for piece in summary %}
		<p>{{ piece.datecreated }}: {{ piece.content|safe }}</p>
	{% endfor %}
</th>
        </tr>
	</table>
{% endblock sidebar %}