{% load url from future %}
{% load piece_extras %}

<article class="span4 {{ piece.genre|lower }}">
	
	<a href="{{ piece.get_absolute_url }}">
		<div class="box">
			
			<h2>{{ piece.title }}</h2>
			<!-- <img src="optional-piece-illustration.png" class="poster" alt=""> -->
			
			<p>{{ piece.text|linebreaks }}</p>
			
			<p class="score">waardering: <span class="badge">{{ piece.score }}</span></p>
		</div>
	</a>
	
	<div class="clearfix">
		<p class="author pull-left">
			<a href="{{ piece.writer.get_absolute_url }}">{{ piece.writer.get_name }}</a>
		</p>
		<p class="timestamp pull-right">{{ piece.datepublished|timesince }} geleden</p>
	</div>
	
</article>