{% extends "base.html" %}
{% load piece_extras %}
{% load url from future %}

{% block pagetitle %}{{ piece.title }}{% endblock pagetitle %}

{% block bodyid %}piece_detail{% endblock %}

{% block content %}

<div id="itemdetail">
	<div class="box">
		<div class="row">
		
			<div class="meta span12 clearfix">
				<p class="genre pull-left">Onderwerp</p>
				<img src="/static/avatars/placeholder-01.jpg" class="character img-circle pull-right">
			</div>
			
			<article class="span8 offset2 {{ piece.genre|lower }} clearfix">
				<p class="score"><span class="label">{{ piece.score }}</span></p>
				
				<div class="content">
					<h2>{{ piece.title }}</h2>
					<p class="author">Door <a href="{{ piece.writer.get_absolute_url }}">{{ piece.writer.pseudonym }}</a>, {{ piece.datepublished|timesince }} geleden</p>
					<p>{{ piece.text|linebreaks }}</p>
				</div>
				
			</article>
			
			<div class="social">
				{% if current_player|likes:piece %}
					Je vindt dit een goed stuk. (<form method="POST" action="{% url 'piece_vote_up_undo' piece.id %}">{% csrf_token %} <input type="hidden" name="return_url" value="{{ request.get_full_path }}"> <input type="submit" value="Toch niet?"></form>)
	{% else %}
		<form method="POST" action="{% url 'piece_vote_up' piece.id %}">
			{% csrf_token %}
			<input type="hidden" name="return_url" value="{{ request.get_full_path }}">
			<input type="submit" value="Goed stuk!">
		</form>
	{% endif %}
	
	<!-- Facebook Like Button https://developers.facebook.com/docs/reference/plugins/like/ -->
	<div class="fb-like" data-href="http://www.gidsgame.nl{{ piece.get_absolute_url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

	<!-- Tweet button https://dev.twitter.com/docs/tweet-button -->
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.gidsgame.nl{{ piece.get_absolute_url }}" data-text="{{ piece.title }}" data-via="GidsGame">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			
		</div>
	</div>
</div>
    
{% endblock %}