{% extends "base.html" %}
<!-- TODO: Figure out how to add the piece's title into this thingamajig. -->
{% block pagetitle %}Piece Title Goes Here{% endblock pagetitle %}

{% block bodyid %}piece_detail{% endblock %}

{% block content %}

{% include "boogie/piece_fragment.html" %}

<div class="row">
<div class="span6">
<h3>Eerder&hellip;</h3>
<p><a href="">Titel</a> door <a href="">Pseudonym</a> timestamp geleden</p>
<p>Over <a href="">Onderwerp</a>:</p> 
<p><a href="">Titel</a> door <a href="">Pseudonym</a> timestamp geleden</p>
<p>Over <a href="">Personage</a>:</p>
<p><a href="">Titel</a> door <a href="">Pseudonym</a> timestamp geleden</p></div>

<div class="span6">
<h3>Later&hellip;</h3>
<p><a href="">Titel</a> door <a href="">Pseudonym</a> timestamp geleden</p>
<p>Over <a href="">Onderwerp</a>:</p> 
<p><a href="">Titel</a> door <a href="">Pseudonym</a> timestamp geleden</p>
<p>Over <a href="">Personage</a>:</p>
<p><a href="">Titel</a> door <a href="">Pseudonym</a> timestamp geleden</p></div>
</div>

<p>Status: {{ piece.status }}</p>
    
{% endblock %}