{% extends "base.html" %}
{% load url from future %}

{% block extrahead %}	
	<script type="text/javascript">

	$(document).ready(function() {
		$('#editbutton').click(function() {

			$('#toggleinput').val('edit');

			$('#submitform').submit();
		});
	});

	</script>
{% endblock extrahead %}


{% block content %}

	<h2>Voorbeeldweergave van je inzending</h2>

	<p>Onderwerp: {{ form.instance.topic }}</p>

	{% if form.instance.character %}
		<p>Personage: {{ form.instance.character }}</p>
	{% endif %}

	<p>Genre: {{ form.data.genre }}</p>

	<p>Titel: {{ form.data.title }}</p>

	<p>Tekst: {{ form.data.text }}</p>

	{% if form.data.new_topic %}
		<p>Nieuw onderwerp: {{ form.data.new_topic }}</p>
	{% endif %}

	<form action="" id="submitform" method="post">{% csrf_token %}
		{% for field in form %}
			{{ field.as_hidden }}
		{% endfor %}

		<input type="hidden" id="toggleinput" name="save" value="save">

		<input type="submit" value="Indienen" />
		<input type="button" id="editbutton" value="Opnieuw bewerken">
	</form>
	
{% endblock content %}