{% extends "base.html" %}
{% load url from future %}
{% load typogrify_tags %}

{% block pagetitle %}Voorbeeldweergave van {{ form.data.title|capfirst }}{% endblock pagetitle %}

{% block extrahead %}	
	<script type="text/javascript">

	$(document).ready(function() {
		$('#editbutton').click(function() {

			$('#toggleinput').val('edit');

			$('#submitform').submit();
		});
	});

	</script>
{% endblock extrahead %}


{% block content %}
<div id="itemdetail">
	
	<div class="meta clearfix">

		<p class="genre pull-left">Onderwerp: <a href="{% url 'topic_detail' form.instance.topic.id form.instance.topic.slug %}">{{ form.instance.topic|capfirst }}</a></p>

		{% if form.instance.character %}
			{% if form.instance.character.avatar %}
				<a href="{% url 'character_profile' form.instance.character.id %}" class="pull-right">
					<img src="{{ form.instance.character.avatar.url }}" class="character img-circle" alt="{{ form.instance.character.name }}">
				</a>
			{% endif %}
			<p class="pull-right">
				Personage: <a href="{% url 'character_profile' form.instance.character.id %}">{{ form.instance.character.name }}</a>
			</p>
		{% endif %}
	</div>
	
	<div class="row">
		<div class="span8 offset2">
			
			<article class="{{ form.data.genre|lower }} clearfix">
								
				<h2 class="text-center"><span class="sub-top">Voorbeeldweergave van</span> {{ form.data.title|capfirst }}</h2>

				<div class="author text-center">
					<em>{{ form.instance.get_genre_display }}
					door <a href="{{ writer.get_absolute_url }}">{{ writer.get_name }}</a></em> – 
					<span class="label label-inverse">nog niet gepubliceerd</span>
				</div>
				
				{% if form.instance.image %}
					<figure>
						<img src="{{ form.instance.image.url }}" width="{{ form.instance.image.width }}" height="{{ form.instance.image.height }}" alt="{{ form.data.title|capfirst }}">
					</figure>
				{% endif %}

				{% if form.data.text and form.data.genre != "Headline" and form.data.genre != "Illustratie" %}
					<p>{{ form.data.text|safe|linebreaks|typogrify }}</p>
				{% endif %}
				
			</article>

		<form action="" id="submitform" method="post" class="form">
			<div class="form-actions">
				{% csrf_token %}
				{% for field in form %}
					{{ field.as_hidden }}
				{% endfor %}
				<input type="hidden" id="toggleinput" name="save" value="save">
				<input type="button" id="editbutton" value="Bewerken" class="btn">
				<input type="submit" value="Verzenden" class="btn btn-primary pull-right">
			</div>
		</form>

		</div>
	</div>
</div>

<!--
<div id="previewitem" class="row">
	<div class="span8 offset2">

		<h2 class="text-center">Voorbeeldweergave van je inzending</h2>
		<ul class="info clearfix">
			<li class="pull-left">Onderwerp</li>
			<li class="pull-right">{{ form.instance.topic }}</li>
			{% if form.instance.character %}
			<li class="pull-left">Personage</li>
			<li class="pull-right">{{ form.instance.character }}</li>
			{% endif %}
			<li class="pull-left">Onderwerp</li>
			<li class="pull-right">{{ form.instance.topic }}</li>
			{% if form.data.new_topic %}
			<li class="pull-left">Nieuw onderwerp</li>
			<li class="pull-right">{{ form.data.new_topic }}</li>
			{% endif %}
			<li class="pull-left">Genre</li>
			<li class="pull-right">{{ form.data.genre }}</li>
			<li class="pull-left">Titel</li>
			<li class="pull-right">{{ form.data.title }}</li>
		</ul>
	
		<p class="lead">{{ form.data.text|safe|linebreaks|typogrify }}</p>

		<form action="" id="submitform" method="post" class="form">
			<div class="form-actions">
				{% csrf_token %}
				{% for field in form %}
					{{ field.as_hidden }}
				{% endfor %}
				<input type="hidden" id="toggleinput" name="save" value="save">
				<input type="button" id="editbutton" value="Bewerken" class="btn">
				<input type="submit" value="Verzenden" class="btn btn-primary pull-right">
			</div>
		</form>

	</div>
</div>
-->
{% endblock content %}