{% load url from future %}
{% load typogrify_tags %}

	<article class="{% if piece_and_ads and piece.highlight %}span8{% else %}span4{% endif %} {{ piece.genre|lower }} clearfix">
		<a href="{{ piece.get_absolute_url }}" title="{{ piece.title|capfirst }}">
			<div class="box">
				<div class="overlay"></div>
				
				{% if topic != piece.topic or character != piece.character %}
				<div class="meta clearfix">
					{% ifnotequal topic piece.topic %}
						<p class="genre pull-left">{{ piece.topic|capfirst }}</p>
					{% else %}
						<p class="genre pull-left">&nbsp;</p>
					{% endifnotequal %}
					{% ifnotequal character piece.character %}
						{% if piece.character.avatar %}
							<img src="{{ piece.character.avatar.url }}" class="character img-circle pull-right" alt="{{ piece.character.name }}">
						{% endif %}
					{% endifnotequal %}
				</div>
				{% endif %}
				
				<p class="score"><span class="label">{{ piece.get_human_score|floatformat:"1" }}</span></p>

				{% ifequal piece.genre "Illustratie" %}
					{% if piece.image %}
						<div class="image" style="background-image:url({{ piece.image.url }})"></div>
					{% endif %}
				{% else %}
					<div class="content">
						<h3 class="sans">{{ piece.title|capfirst }}</h3>
						{% if piece.genre != "Headline" %}<p>{{ piece.text|safe|linebreaks|typogrify }}</p>{% endif %}
					</div>
				{% endifequal %}
			</div>
		</a>
		
		<div class="info clearfix">
			<p class="author">
				<a href="{{ piece.writer.get_absolute_url }}" title="{{ piece.writer.get_name }}">{{ piece.writer.get_name|truncatechars:14 }}</a>
			</p>
			<p class="timestamp">{{ piece.datepublished|timesince }} geleden</p>
		</div>
		
	</article>
