{% extends "base.html" %}
{% load url from future %}

{% block pagetitle %}Bedankt voor het schrijven{% endblock pagetitle %}

{% block bodyid %}piece_submit_thanks{% endblock %}

{% block content %}
<div class="box">
	<div class="row">
		<div class="span8 offset2">
			<h2 class="text-center">Bijdrage ontvangen</h2>
			<p>Bedankt voor het schrijven! De redactie heeft je bijdrage ontvangen. Je krijgt een bericht zodra deze is beoordeeld. Voor een overzicht van al je bijdragen ga je naar <a href="{{ current_player.get_absolute_url }}">je profiel</a>.</p>			
		</div>
	</div>
</div>
{% endblock %}