{% extends "base.html" %}
{% load url from future %}

{% block pagetitle %}Week {{ week }}{% endblock pagetitle %}

{% block content %}
<div id="itemlist" class="row clearfix">
	
	<div class="span12">
		<h2 class="text-center">Week {{ week }}</h2>
		
		{% if pieces.count > 1 %}
		<div class="filter pull-right">
			<div class="btn-group">
				{% ifequal order '-score_cache' %}
					<a href="?order=-datepublished" class="btn">Nieuwste</a>
				{% else %}
					<a href="?order=-datepublished" class="btn active">Nieuwste</a>
				{% endifequal %}
				{% ifequal order '-datepublished' %}
					<a href="?order=-score_cache" class="btn">Populairste</a>
				{% else %}
					<a href="?order=-score_cache" class="btn active">Populairste</a>
				{% endifequal %}
			</div>
		</div>
		{% endif %}
	</div>
	
	{% for piece in pieces %}
		{% include "boogie/piece_fragment.html" %}
	{% empty %}
		<p class="lead text-center">Er is nog niks gepubliceerd in deze week.</p>
	{% endfor %}

</div>

{% endblock %}