{% extends "base.html" %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block pagetitle %}Schrijven{% endblock pagetitle %}

{% block extrahead %}
	<script type="text/javascript">

	$(document).ready(function() {
		$('#id_genre').change(function() {

			if ($('#id_genre').val() === 'Headline') {
				$('#id_text').parent().slideUp();
			} else {
				$('#id_text').parent().slideDown();
			}
		});
	});

	</script>
{% endblock extrahead %}


{% block bodyid %}piece_submit{% endblock %}

{% block content %}
<div id="createitem" class="row">
	<div class="span8 offset2">
		
		<!-- TODO: Include character count. -->
		
		{% ifequal current_player.role 'PLAYER' %}
			{% if form %}			
				<h2 class="text-center"><span class="sub-top">Schrijf een bijdrage over</span>{{ form.instance.topic.title }}</h2>
					
				{% if form.instance.rejection_reason %}
					<div class="alert">Feedback van de redactie: <em>{{ form.instance.rejection_reason }}</em></div>
				{% endif %}
								
					<ul class="info clearfix">
						<li class="pull-left">Info</li>
						<li class="pull-right">
							{% if form.instance.topic.get_latest_piece %}
								Lees de <a href="{% url 'piece_detail' form.instance.topic.get_latest_piece.id %}">laatste bijdrage</a> over “{{ form.instance.topic.title }}” of bekijk <a href="{% url 'topic_detail' form.instance.topic.id form.instance.topic.slug %}">alle bijdragen</a> over dit onderwerp.
								{% else %}
								Er is nog niks geschreven over dit onderwerp. <em>Carte blanche!</em>
							{% endif %}
						</li>
					</ul>
					<ul class="info clearfix">
						<li class="pull-left">Deadline</li>
						<li class="pull-right">{{ form.instance.deadline|timeuntil }}</li>
					</ul>
					<ul class="info clearfix">
						<li class="pull-left">Aantal bijdragen deze ronde</li>
						<li class="pull-right"><span class="badge">{{ form.instance.topic.piece_count }}</span></li><!-- TODO: Hook this up to topic rank. -->
					</ul>
				
				{% crispy form %}

				<div class="well">Na inzending buigt de redactie zich over je bijdrage. Ze kijkt naar de kwaliteit, en of je rekening hebt gehouden met wat er al is geschreven. Je krijgt een e-mail zodra je bijdrage is goedgekeurd of als ze wil dat je het aanpast, of als de redactie heeft besloten hem af te wijzen.</div>

			{% else %}
				<h2 class="text-center">Je mag op dit moment niks schrijven.</h2>
			{% endif %}
		{% endifequal %}		
	</div>
</div>
{% endblock %}