{% extends "base.html" %}

{% block content %}
	{% ifequal user.username player.user.username  %} 
		<a href="{% url player_profile_edit user.username %}">edit</a>
	{% endifequal %}

	<p>Speler: {{ player.user.username }}</p>

	<p>Naam: {{ player.user.first_name }} {{ player.user.last_name }}</p>

	<p>Pennaam: {{ player.pseudonym }}</p>

	<p>Biografie: {{ player.biography }}</p>

	<h2>Bijdragen</h2>

	{% for piece in pieces %}
		{{ forloop.counter}} {{ piece.text }}<br>
	{% endfor %}
{% endblock content %}