{% extends "base.html" %}
{% load url from future %}

{% block pagetitle %}Profiel bewerken{% endblock pagetitle %}

{% block bodyid %}player_profile_ed{% endblock %}

{% block content %}
<div class="row">
	<div class="span8 offset2">
		<h2>Profiel bewerken</h2>
		
		<form method="POST" enctype="multipart/form-data" action="{% url 'player_profile_edit' user.username %}" class="form-horizontal">
		
		<div class="control-group">
		
			{% csrf_token %}
			
			<!-- {{ userform.as_p }} -->
			{% for field in userform %}
			<div class="fieldWrapper">
				{{ field.errors }}
				{{ field.label_tag }}
				<div class="controls">{{ field }}</div>
			</div>
			{% endfor %}
			
			{{ playerform.as_p }}
			<input type="submit" value="Opslaan">
		</form>
	</div>
</div>
{% endblock content %}