{% extends "base.html" %}
{% load url from future %}

{% block bodyid %}player_profile{% endblock %}

{% block content %}
	{% ifequal user.username player.user.username  %} 
		<a class="btn btn-info" href="{% url 'player_profile_edit' user.username %}">Bewerken</a>
	{% endifequal %}

    <!-- <h2>Speler: {{ player.user.username }}</h2> -->

	<h2>{{ player.user.first_name }} {{ player.user.last_name }} alias {{ player.pseudonym }}</h2>

	<h3>Biografie</h3> 
	<p>{{ player.biography }}</p>

	<h3>Bijdragen</h3>
	
    <!-- {% if assigned_pieces %}
        <h4>Toegekend</h4>

        <ol>
        {% for piece in assigned_pieces %}
        <li><a href="{% url 'piece_submit' %}">Schrijf iets over {{ piece.topic }}</a>.</li>
        {% endfor %}
        </ol>
    {% endif %} -->

	
	{% if submitted_pieces %}
		<h4>Ingediend</h4>

		{% for piece in submitted_pieces %}
			{% include "boogie/piece_fragment.html" %}
		{% endfor %}
	{% endif %}

	
	{% if needswork_pieces %}
		<h4>Kan beter</h4>

		{% for piece in needswork_pieces %}
			{% include "boogie/piece_fragment.html" %}

		    <p>Suggesties: {{ piece.rejection_reason }}</p>
		    <p><a href="{% url 'piece_submit' %}">Bewerken</a></p>
		{% endfor %}
	{% endif %}
	

	<h4>Gepubliceerd</h4>
	{% for piece in approved_pieces %}
		{% include "boogie/piece_fragment.html" %}
	{% empty %}
		<p>Van deze speler zijn nog geen stukken gepubliceerd.</p>
	{% endfor %}

	{% if rejected_pieces %}
		<h4>Afgewezen</h4>

		{% for piece in rejected_pieces %}
			{% include "boogie/piece_fragment.html" %}
			<p>Reden van afwijzing: {{ piece.rejection_reason }}</p>
		{% endfor %}
	{% endif %}

{% endblock content %}