{% extends "base.html" %}
{% load url from future %}

{% block pagetitle %}Profiel bewerken{% endblock pagetitle %}

{% block bodyid %}player_profile_ed{% endblock %}

{% block content %}
<div id="playeredit" class="row">
	
	<div class="span12">
		<h2 class="text-center">Profiel bewerken</h2>
	</div>
	
	<div class="span8 offset2">
		<form method="POST" enctype="multipart/form-data" action="{% url 'player_profile_edit' user.username %}" class="form-horizontal">
		<div class="control-group">
			{% csrf_token %}
			{% for field in playerform %}
			<div class="control-group">
				{{ field.label_tag }}
				<div class="controls clearfix">
					{{ field }}
				</div>
			</div>
			{% endfor %}
			<input type="submit" value="Opslaan" class="btn pull-right">
		</div>
		</form>
	</div>
	
</div>
{% endblock content %}