{% load url from future %}

{% block content %}
	<p>Literair tijdschrift <a href="http://www.de-gids.nl/">De Gids</a> en game design studio <a href="http://hubbub.eu/">Hubbub</a> presenteren:</p>
	<h1>Boogie Woogie Daily</h1>

	<p>Een experimentale literaire game waarin Nederlandse auteurs 10 weken lang samen met spelers online een verhaal schrijven.</p> 

	<p>Meld je aan en ontvang eenmalig een e-mail als de game van start gaat, op maandag 8 april 2013.</p>

	<form method="POST" action="">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Verzenden">
	</form>
{% endblock content %}