{% extends "base.html" %}

<!-- TODO: A list of all the summaries written, newest one on top. -->

{% block content %}
    <h2>Het verhaal tot nu toe&hellip;</h2>
	
	<p>Dinsdag 4 december 2012, 18:30: Suspendisse potenti. In tempus magna ut mi tincidunt ut tempus urna congue. Curabitur ut tortor risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam auctor hendrerit leo id pulvinar. Suspendisse in mauris vehicula nibh blandit fermentum. Cras tincidunt, lacus quis imperdiet dignissim, erat tortor tincidunt metus, at scelerisque odio turpis sed metus. Donec ullamcorper diam nec nulla viverra porta. Aliquam erat volutpat. Aliquam porttitor scelerisque mauris, quis lobortis neque aliquam ut. Maecenas scelerisque mauris in leo euismod ultricies. Maecenas dolor orci, suscipit id accumsan eu, suscipit et eros. Proin ligula nisl, dignissim vitae tincidunt pretium, vehicula molestie mauris.</p>
{% endblock content %}