{% extends "base.html" %}
{% load url from future %}
{% load typogrify_tags %}

{% block pagetitle %}Het verhaal tot nu toe&hellip;{% endblock pagetitle %}

{% block content %}
<div id="summarylist" class="row">
	<div class="span8 offset2">
		
		<h2 class="text-center">Het verhaal tot nu toe…</h2>
		
		{% for s in summary %}
			<article id="samenvatting-{{ s.id }}" class="summaryitem">
				<h3 class="text-center">{{ s.datecreated }}</h3>

				{{ s.content|safe|linebreaks|typogrify }}

				{% with s.get_next_character_piece as piece %}
					{% if piece %}
						<p>Verder lezen? De eerstvolgende bijdrage over een personage na deze samenvatting is ‘<a href="{% url 'piece_detail' piece.id %}">{{ piece.title }}</a>’ over {{ piece.character }}.</p>
					{% endif %}
				{% endwith %}
				
			</article>
		{% endfor %}
		
	</div>
</div>
{% endblock content %}