{% extends "base.html" %}
{% load typogrify_tags %}

{% block pagetitle %}Het verhaal tot nu toe&hellip;{% endblock pagetitle %}

{% block content %}
<div id="summarylist" class="row">
	<div class="span8 offset2">
		
		<h2 class="text-center">Het verhaal tot nu toe…</h2>
		
		{% for piece in summary %}
		<article id="samenvatting-{{ piece.id }}" class="summaryitem">
			<h3 class="text-center">{{ piece.datecreated }}</h3>
			{{ piece.content|safe|linebreaks|typogrify }}
		</article>
		{% endfor %}
		
	</div>
</div>
{% endblock content %}