{% extends "base.html" %}
{% load url from future %}

{% block pagetitle %}De Onderwerpen{% endblock pagetitle %}

{% block bodyid %}topic_list{% endblock %}

{% block content %}
<div class="row">
	<div class="span8 offset2">
		
		<h2 class="text-center">De Onderwerpen</h2>
		
		<hr>
				
		<h3 class="text-center">Onderwerpen voor schrijvers</h3>
		<p>Dit zijn de onderwerpen waar schrijvers iets mee moeten. We noemen dit een <em>gebeurtenis</em>.</p>
		
		<table class="table table-bordered">
			<tbody>
			{% for topic in writer_topics %}
				<!-- NOTE: Writer topics don't have event thresholds, they switch back to player pool after one submission. -->
				<tr>
					<td><a href="{% url 'topic_detail' topic.id topic.slug %}">{{ topic }}</a></td>
				</tr>
			{% empty %}
				<tr>
					<td>Momenteel niets&hellip;</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<h3 class="text-center">Onderwerpen voor spelers</h3>
		<p>Dit zijn de onderwerpen waarvan spelers er willekeurig één toegewezen krijgen. Ook kun je zien wat de voortgang is van ieder onderwerp tot een &lsquo;gebeurtenis&rsquo;.</p>
		
		<table id="topiclist" class="table table-bordered">
			<tbody>
			{% for topic in player_topics %}
				<tr>
					<td>
						<a href="{% url 'topic_detail' topic.id topic.slug %}" class="pull-left">{{ topic }}</a> <span class="label pull-right">00</span> <!-- TODO: Hook this up to ranking. -->
					</td>
				</tr>
			{% empty %}
				<tr>
					<td>Nog niets&hellip;</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		
		<h3 class="text-center">Gearchiveerde onderwerpen</h3>
		<p>Over deze onderwerpen zijn we uitgeschreven.</p>

		<table class="table table-bordered">
			<tbody>
			{% for topic in archived_topics %}
				<tr>
					<td><a href="{% url 'topic_detail' topic.id topic.slug %}">{{ topic }}</a></td>
				</tr>
			{% empty %}
				<tr>
					<td>Nog niets&hellip;</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

	</div>
</div>
{% endblock %}