{% extends "base.html" %}
{% load url from future %}

{% block pagetitle %}De Onderwerpen{% endblock pagetitle %}

{% block bodyid %}topic_list{% endblock %}

{% block content %}

<div class="box">
	<div class="row">
		<div class="span8 offset2">
			
			<h2 class="text-center">De Onderwerpen</h2>
			
			<hr>
			
			<h3 class="text-center">Onderwerpen voor spelers</h3>
			<p>Dit zijn de onderwerpen waarvan spelers er willekeurig één toegewezen krijgen. De getallen achter elk onderwerp geven aan hoeveel bijdragen er zijn geschreven en hoeveel er nog te gaan zijn tot een &lsquo;gebeurtenis&rsquo;.</p>
			
			<table id="topiclist" class="table table-hover table-bordered">
				<tbody>
				{% for topic in player_topics %}
					<tr>
						<td><a href="{% url 'topic_detail' topic.id topic.slug %}" class="pull-left">{{ topic }}</a> 
						
						<div class="progress pull-right">
							<div class="bar" style="width: 60%;"></div>
						</div>
						
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			
			<h3 class="text-center">Onderwerpen voor schrijvers</h3>
			<p>Dit zijn de onderwerpen waar schrijvers iets mee moeten. We noemen dit een <em>gebeurtenis</em>.</p>
			
			<table class="table table-bordered">
				<tbody>
				{% for topic in writer_topics %}
					<!-- NOTE: Writer topics don't have event thresholds, they switch back to player pool after one submission -->
					<tr>
						<td><a href="{% url 'topic_detail' topic.id topic.slug %}">{{ topic }}</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			
		</div>
	</div>
</div>
{% endblock %}