{% extends "base.html" %}
{% load url from future %}

{% block pagetitle %}Bijdragen over {{ topic.title|capfirst }}{% endblock pagetitle %}

{% block content %}
<div class="itemlist row clearfix">
	
	<div class="span12 clearfix">
		<h2 class="text-center"><span class="sub-top">Bijdragen over</span> {{ topic.title|capfirst }}</h2>
		
		<p class="lead text-center">
		{% if topic.archived %}
			Dit onderwerp is gearchiveerd. Er kan niet langer over geschreven worden.
		{% else %}
			Een onderwerp voor 
		{% ifequal topic.pool 'WRITER' %}
			schrijvers.
		{% else %}
			spelers. Aantal bijdragen deze ronde: <span class="label">{{ topic.piece_count }}</span>
		{% endifequal%}
		{% endif %}
		</p>
		
		{% if pieces.count > 1 %}
		<div class="filter pull-right">
			<div class="btn-group">
				{% ifequal order '-score_cache' %}
					<a href="?order=-datepublished" class="btn">Nieuwste</a>
				{% else %}
					<a href="?order=-datepublished" class="btn active">Nieuwste</a>
				{% endifequal %}
				{% ifequal order '-datepublished' %}
					<a href="?order=-score_cache" class="btn">Populairste</a>
				{% else %}
					<a href="?order=-score_cache" class="btn active">Populairste</a>
				{% endifequal %}
			</div>
		</div>
		{% endif %}
	</div>
	
	{% for piece in pieces %}
		{% include "boogie/piece_fragment.html" %}
	{% empty %}
		<p class="text-center">Er is nog niks gepubliceerd over dit onderwerp…</p>
	{% endfor %}
	
</div>
{% endblock %}