{% extends "base.html" %}
{% load url from future %}

{% block content %}

<h2>{{ topic.title }}</h2>

<p>Een onderwerp voor
    {% ifequal topic.pool 'WRITER' %}
        schrijvers.
    {% else %}
        spelers.
    {% endifequal%}
</p>

<p>Sorteren: 
    {% ifequal order '-datecreated' %} 
        <a href="?order=-rating">Beste</a>
    {% else %}
        <strong>Beste</strong>
    {% endifequal %}
    |
    {% ifequal order '-rating' %} 
        <a href="?order=-datecreated">Nieuwste</a>
    {% else %}
        <strong>Nieuwste</strong>
    {% endifequal %}</p>

    {% for piece in pieces %}
    <div>
        <p>{{ piece.text|linebreaks }}</p>
        <!-- TODO: Link author name to profile -->
        <p>Door <a href="">{{ piece.writer.character_name }}</a> op {{ piece.datecreated }}.</p> 
    </div>
    {% endfor %}

{% endblock %}