{% extends "base.html" %}
{% load url from future %}

{% block content %}
    
    <h2>{{ topic.title }}</h2>
    
    <p>voor {{ topic.pool }}</p>

    volgorde: 
    {% ifequal order '-datecreated' %} 
        <a href="?order=-rating">beste</a>
    {% else %}
        <b>beste</b>
    {% endifequal %}

    {% ifequal order '-rating' %} 
        <a href="?order=-datecreated">laatste</a>
    {% else %}
        <b>laatste</b>
    {% endifequal %}

    {% for piece in pieces %}
        <div style="border: thin solid black;">
            {% ifequal piece.writer.role 'WRITER' %}
                door een schrijver
            {% else %}
                door een speler
            {% endifequal %}
        
            <p>bijdrage van: {{ piece.writer }}<br>
            Text: {{ piece.text }}</p>
        </div>
    {% endfor %}
    
{% endblock %}