<!-- TODO: Realign this page to be a writer profile, and create a seperate character profile page. -->

{% extends "base.html" %}
{% load url from future %}

{% block pagetitle %}{{ writer.pseudonym }}&rsquo;s profiel{% endblock pagetitle %}

{% block bodyid %}writer_profile{% endblock %}

{% block content %}
	<div class="wrapper box clearfix">
		<img src="character-profile-pic.png" alt="{{ writer.character_name }}" title="{{ writer.character_name}}" />
		
		<p>Personage</p>
		<h2>{{ writer.character_name }}</h2>
		
		<p>Biografie</p>
		<p>{{ writer.biography }}</p>
		
		<img src="writer-profile-pic.png" alt="{{ writer.pseudonym }}" title="{{ writer.pseudonym}}" />
		<p>Gespeeld door</p>
		<p>{{ writer.pseudonym }}</p>
	</div>
	
	<h3>Bijdragen</h3>

    {% for piece in writer.pieces %}
    	{% include "boogie/piece_fragment.html" %}
	{% endfor %}
	
{% endblock content %}