{% extends "base.html" %}
{% load url from future %}

{% block bodyid %}writer_profile{% endblock %}

{% block content %}
    <img src="character-profile-pic.png" alt="{{ writer.character_name }}" title="{{ writer.character_name}}" />

	<p>Personage</p>
	<h2>{{ writer.character_name }}</h2>
	
	<p>Biografie</p>
    <p>{{ writer.biography }}</p>	

    <img src="writer-profile-pic.png" alt="{{ writer.pseudonym }}" title="{{ writer.pseudonym}}" />
	<p>Gespeeld door</p>
	<p>{{ writer.user.first_name }} {{ writer.user.last_name }} alias {{ writer.pseudonym }}</p>

	<h3>Bijdragen</h3>

    <ol>
    {% for piece in writer.pieces %}
        <li>{{ piece.text|linebreaks }} (Onderwerp: <a href="{% url 'topic_detail' piece.topic.id piece.topic.slug %}">{{ piece.topic }}</a>.)</li>
	{% endfor %}
	</ol>

{% endblock content %}