{% extends "base.html" %}
{% load url from future %}

{% block pagetitle %}{{ writer.pseudonym }}&rsquo;s profiel{% endblock pagetitle %}

{% block bodyid %}writer_profile{% endblock %}

{% block content %}
	<h2>{{ writer.pseudonym }}&rsquo;s profiel</h2>

	<p>[Short bio goes here]</p>

	{% if writer.avatar %}
		<img src="{{ writer.avatar.url }}" alt="{{ writer.pseudonym }}" title="{{ writer.pseudonym}}" />
	{% endif%}		
	
	<h3>Bijdragen</h3>
	<ul>
    {% for piece in writer.pieces %}
    	<li><a href="{% url 'piece_detail' piece.id %}">{{ piece.title }}</a> over <a href="{% url 'topic_detail' piece.topic.id piece.topic.slug %}">{{ piece.topic }}</a> {{ piece.datepublished|timesince }} geleden</li>
	{% empty %}
		<p>Van deze schrijver zijn nog geen stukken gepubliceerd.</p>
	{% endfor %}
	</ul>
	
{% endblock content %}