{% load url from future %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Victory Boogie Woogie</title>
	
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	
	<!-- Facebook Open Graph Tags https://developers.facebook.com/docs/reference/plugins/like/ -->
	<meta property="og:title" content="Victory Boogie Woogie" />
    <meta property="og:type" content="game" />
    <meta property="og:url" content="http://www.gidsgame.nl/" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="Victory Boogie Woogie" />
    <meta property="fb:admins" content="1284304749" />
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}webfonts/ss-standard.css">
	
	<script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
	
	<script type="text/javascript" src="//use.typekit.net/nhp4ozy.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
	
<body id="{% block bodyid %}{% endblock %}">


<!-- Facebook JavaScript SDK https://developers.facebook.com/docs/reference/plugins/like/ -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=468531253195131";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!--[if lt IE 7]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- DOCUMENT -->
<div id="document" role="document" class="clearfix">
	
	<!-- HEADER -->
	<header role="banner">
		<div class="wrapper clearfix">
			<nav role="navigation" id="navigation">
				<ul>
					{% if current_player %}
					<li>
						{% if current_url %}<a href="{% url 'piece_submit' %}" class="button">{% endif %}{{ current_status }}{% if current_url %}</a>{% endif %}
					</li>
					{% endif %}
					{% ifequal current_player.role 'WRITER' %}
					<li><a href="{% url 'piece_queue' %}">Beoordelen</a></li>
					{% endifequal %}
					<li><a href="{% url 'editors' %}">Spelregels</a></li>
					<li><a href="{% url 'topic_list' %}">Onderwerpen</a></li>
				</ul>
			</nav>
			<div id="dashboard">
				{% if current_player %}
					<a href="{{ current_player.get_absolute_url }}">{{ current_player.get_name }}</a> | <a href="{% url 'logout' %}" class="logout">afmelden</a>
				{% else %}
					<a href="{% url 'login' %}" class="login button">Inloggen</a> of <a href="{% url 'registration_register' %}" class="register button">Aanmelden</a>
				{% endif %}
			</div>
		</div>
	</header>
	<!-- END HEADER -->
	
	<!-- MASTHEAD -->
	<div id="masthead" class="clearfix">
		<div class="papertop"></div>
		<ul class="wrapper">
			<li class="date">10 mei 2013</li>
			<li class="logo">
				<img src="{{ STATIC_URL }}img/logo-vbw-dot.png">
				<a href="{% url 'index' %}" title="Home">
					<h1>Victory Boogie Woogie</h1>
				</a>
				<img src="{{ STATIC_URL }}img/logo-vbw-dot.png">
			</li>
			<li class="week">Week {{ gameWeek }} van 10</li>
		</ul>
		
		<div class="calendar wrapper">
			<table>
				<tr>
					{% for _ in '1234567890'|make_list %}
						<td{% if week == forloop.counter %} class="active"{% endif %}>
							{% if gameWeek >= forloop.counter %}
								<a href="{% url 'pieces_per_week' forloop.counter %}">
							{% endif %}
								week {{ forloop.counter }}
							{% if gameWeek >= forloop.counter %}
								</a>
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			</table>
		</div>	
	</div>
	<!-- END MASTHEAD -->
	
	<!-- MAIN -->
	<div id="main" role="main" class="clearfix">
		
		<!-- SIDEBAR -->
		<aside id="sidebar" class="wrapper clearfix">
			{% block sidebar %}
			{% endblock %}
		</aside>
		<!-- END SIDEBAR -->
			
		<!-- CONTENT -->
		<section id="content" class="wrapper clearfix">
			{% block content %}
			{% endblock %}
		</section>
		<!-- END CONTENT -->
			

		<!-- FOOTER -->
		<footer id="footer" role="contentinfo" class="clearfix">
			<div class="wrapper">
				<p>Victory Boogie Woogie is een experimentele literaire game, gemaakt door <a href="http://www.de-gids.nl/" title="De Gids">De Gids</a> en <a href="http://hubbub.eu/" title="Hubbub">Hubbub</a>.<br>Copyright &copy; 2012-2013. <a href="">Colofon</a>.</p>
			</div>
		</footer>
		<!-- END FOOTER -->
		
	</div>
	<!-- END MAIN -->
	
</div>
<!-- END DOCUMENT -->

<!-- JAVASCRIPT -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
<script src="{{ STATIC_URL }}js/plugins.min.js"></script>
<script src="{{ STATIC_URL }}js/main.min.js"></script>

<!-- GOOGLE ANALYTICS (change UA-XXXXX-X) -->
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>